{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}
{% block style %}
<style>
    /* styles.css */
  
  /* Form container */
  .form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #cdfef2;
  border-radius: 4px;
  }
  .helptext{
    font-size: 14px;
    color: #000a08;
  }
  .form-container ul li{
    font-size: 14px;
    color: #000a08;
  }
  /* Form input styles */
  .form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .form-container button[type="submit"] {
  padding: 10px;
  background-color: #3cb46e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  </style> {% endblock style %}
{% block Page_Body %}
    <div class="flex items-center justify-center">
        <!-- Your content here -->
        <h1 class="text-3xl font-bold mb-8">Register</h1>
    </div>
       
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <label for="id_group">Group:</label>
                <select id="id_group" name="group" class="form-control">
                    <option value="Doctor">Doctor</option>
                    <option value="Nurse">Nurse</option>
                    <option value="Patient">Patient</option>
                </select>
            </div>
            <center>
                <button type="submit">Register</button>
            </center>
        </form>
    </div>
</body>
</html> 


{% endblock %}  

{% comment %} 
Primary: #e4e1f9 (RGB: 228, 225, 249)
Secondary: #0c0727 (RGB: 12, 7, 39)
Primary Button: #9e8fff (RGB: 158, 143, 255)
Secondary Button: #120b3c (RGB: 18, 11, 60)
Accent: #5338ff (RGB: 83, 56, 255) {% endcomment %}
